html {
    margin: 0;
    padding: 0;

    background-color: #efefef;

    font-family: 'Roboto Slab', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

div.card {

    max-width: calc(800px - 3.1em);

    aspect-ratio: 1.77;
    padding: 1.3em 1.8em;

    font-family: 'Roboto', sans-serif;

    background-color: white;

    font-size: 36px;
    line-height: 1.8em;

    margin: 2em auto 2em auto;

    border: solid 1px #ddd;

    box-shadow: 5px 5px 20px #ddd;
}

article {

    max-width: calc(800px - 4.8em);

    padding: 1.3em 2.4em;

    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;

    background-color: white;

    font-size: 18px;
    line-height: 1.8em;

    margin: 2em auto 2em auto;

    border: solid 1px #ddd;

    box-shadow: 5px 5px 20px #ddd;
}

article p {
    margin-bottom: 2em;
}

nav {
    max-width: calc(800px - 3.1em);
    padding: 1.3em 1.8em;

    margin: 2em auto 2em auto;
    font-size: 36px;

    font-size: 18px;

    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {

    display: inline;
    list-style: none;
    margin: 0 0.2em;
    padding: 0;
}

a, a:visited {
    color: #b13e26;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px #ddd;
}

.hidden {
    display: none;
}


@media (max-width: 800px) {

    html {
        font-size: 1vw;
    }

    div.card {
        max-width: none;
        font-size: 6em;
        margin: 1em 1em 0 1em;
    }


}